<div class="wrapperbanr">

  <div class="clear"></div>
  <!--Main container_left starts-->
  <div style="float:left; width:100%;">
    <div class="clear"></div>
    <div class="inner_wrapperleft">
      <h1 style="font-size:18px;font-weight: bold;color:#333;">About</h1>
      <br class="clear" />
      <span class="cont" style="margin-top:10px;">Welcome to STEMCareers – A study to measure High School Students awareness around Science, Technology, Engineering, and Mathematics (STEM) careers.  Funded by the Cisco Foundation, we’re committed to supporting the next generation of scientists, engineers, and business leaders through STEM career exploration and education.
      </span><div class="subpages">
        <h3 style="color:#333333;">At the end of this pilot project, we expect to enable approximately over 1,000 high school stduents to:</h3>
        <ul>
          <li> 1. Explore STEM careers that match their skills/interests </li>
          <li> 2. Identify the required education or training </li>
          <li> 3. Access educational support and mentoring resources </li>
          <li> 4. Explore STEM employment opportunities (internships, jobs, etc.) </li>
        </ul>
        <p>We hope to achieve a better understanding on how to integrate existing STEM assets/resources and purpose additional solutions in a single online location. 
          View the video below to learn more about STEM and this study. Visit our <%= link_to "resources page", "/static/resources" %> to actually see what someone does in a STEM job.</p>
        <br class="clear"/>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="inner_wrapperrght">
      <img src="/assets/STEM_IMG.jpg" width="232" height="287" border="0" usemap="#Map" />
      <map name="Map" id="Map">
        <area shape="circle" coords="118,131,51" href="#" alt="Mathematics" title="Science, Engineering and Technology use Mathematics to explore questions about the natural and human-made worlds." />
        <area shape="circle" coords="114,213,52" href="#" alt="Engineering" title="Engineering creatively applies scientific principles to analyze events, design processes, develop materials, and construct objects that benefit society." />
        <area shape="circle" coords="166,72,57" href="#" alt="Technology" title="Technology utilizes innovative tools, materials, and processes to solve problems or satisfy the needs of individuals, society, and the environment." />
        <area shape="circle" coords="68,58,55" href="#" alt="Science" title="Science seeks to explain the complexity of the natural world and uses this understanding to make valid and useful predictions." />
      </map>
    </div>
    <div class="clear"></div>
    <hr />

    <div class="abtbtm_grdt">
      <div class="marginrght">
        <div class="spanL">
        </div>
        <div class="grt">
          <span>
            <%= link_to image_tag("cisco_color.png", :width=>"102", :height=>"54",:border => 0),"http://www.cisco.com/web/about/ac48/about_cisco_cisco_foundation.html" %>
          </span>
          <p>Established in 1997 by a gift from Cisco. We make strategic grants to programs with long-lasting impact on a local, national, and global scale. We also empower employees to give more through our matching gifts program.</p>
        </div>
        <div class="spanR"></div>
      </div>
      <div class="marginrght">
        <div class="spanL">
        </div>
        <div class="grt">
          <span>
            <%= link_to image_tag("futures_color.png", :width=>"220", :height=>"58",:border => 0),"http://www.futuresinc.com/" %>
          </span>
          <p>A talent management software company specializing in workforce management and connecting job seekers with employment and educational opportunities.</p>
        </div>
        <div class="spanR"></div>
      </div>
      <div class="marginrgh">
        <div class="spanL">
        </div>
        <div class="grt">
          <span>
            <%= link_to image_tag("communicatio_color.png", :width=>"171", :height=>"78",:border => 0),"http://www.cisnc.org/" %>
          </span>
          <p class="lastcol">A not for profit organization focused on providing students with resources and tools to increase graduation rates across North Carolina </p>
        </div>
        <div class="spanR"></div>
      </div>

      <div class="clear"></div>
    </div>

  </div>
  <div class="clear"></div>
</div>
