<div class="wrapperbanr">
  <h2 style="font-size:17px;">STEM careers by Industry</h2>
  <br class="clear" />
  <br class="clear" />  
  <div>
    <div style="padding-right:10px;border:1px solid red;width:290px;float:left;">
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Advanced Manufacturing</h3><br/>
        <ul style="margin:5px 0px 5px 12px;">
          <li>Agriculture, Agricultural Operations, and Related Sciences</li>
          <li>Computer and Informational Sciences and Support Services </li>
          <li>Engineering and Engineering Technologies</li>
          <li>Biological and Biomedical Sciences</li>
          <li>Mathematics and Statistics</li>
          <li>Physical Sciences and Technologies</li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Advanced Manufacturing</h3><br/>
        <ul style="margin:5px 0px 5px 12px;">
          <li>Agriculture, Agricultural Operations, and Related Sciences</li>
          <li>Computer and Informational Sciences and Support Services </li>
          <li>Engineering and Engineering Technologies</li>
          <li>Biological and Biomedical Sciences</li>
          <li>Mathematics and Statistics</li>
          <li>Physical Sciences and Technologies</li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Advanced Manufacturing</h3><br/>
        <ul style="margin:5px 0px 5px 12px;">
          <li>Agriculture, Agricultural Operations, and Related Sciences</li>
          <li>Computer and Informational Sciences and Support Services </li>
          <li>Engineering and Engineering Technologies</li>
          <li>Biological and Biomedical Sciences</li>
          <li>Mathematics and Statistics</li>
          <li>Physical Sciences and Technologies</li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Advanced Manufacturing</h3><br/>
        <ul style="margin:5px 0px 5px 12px;">
          <li>Agriculture, Agricultural Operations, and Related Sciences</li>
          <li>Computer and Informational Sciences and Support Services </li>
          <li>Engineering and Engineering Technologies</li>
          <li>Biological and Biomedical Sciences</li>
          <li>Mathematics and Statistics</li>
          <li>Physical Sciences and Technologies</li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Advanced Manufacturing</h3><br/>
        <ul style="margin:5px 0px 5px 12px;">
          <li>Agriculture, Agricultural Operations, and Related Sciences</li>
          <li>Computer and Informational Sciences and Support Services </li>
          <li>Engineering and Engineering Technologies</li>
          <li>Biological and Biomedical Sciences</li>
          <li>Mathematics and Statistics</li>
          <li>Physical Sciences and Technologies</li>
        </ul>
      </div>
    </div>

    <div style="padding-right:10px;border:1px solid green;width:290px;float:left;">
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Advanced Manufacturing</h3><br/>
        <ul style="margin:5px 0px 5px 12px;">
          <li>Agriculture, Agricultural Operations, and Related Sciences</li>
          <li>Computer and Informational Sciences and Support Services </li>
          <li>Engineering and Engineering Technologies</li>
          <li>Biological and Biomedical Sciences</li>
          <li>Mathematics and Statistics</li>
          <li>Physical Sciences and Technologies</li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Advanced Manufacturing</h3><br/>
        <ul style="margin:5px 0px 5px 12px;">
          <li>Agriculture, Agricultural Operations, and Related Sciences</li>
          <li>Computer and Informational Sciences and Support Services </li>
          <li>Engineering and Engineering Technologies</li>
          <li>Biological and Biomedical Sciences</li>
          <li>Mathematics and Statistics</li>
          <li>Physical Sciences and Technologies</li>
        </ul>
      </div>
    </div>

    <div style="padding-right:10px;border:1px solid red;width:290px;float:left;">
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Advanced Manufacturing</h3><br/>
        <ul style="margin:5px 0px 5px 12px;">
          <li>Agriculture, Agricultural Operations, and Related Sciences</li>
          <li>Computer and Informational Sciences and Support Services </li>
          <li>Engineering and Engineering Technologies</li>
          <li>Biological and Biomedical Sciences</li>
          <li>Mathematics and Statistics</li>
          <li>Physical Sciences and Technologies</li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Advanced Manufacturing</h3><br/>
        <ul style="margin:5px 0px 5px 12px;">
          <li>Agriculture, Agricultural Operations, and Related Sciences</li>
          <li>Computer and Informational Sciences and Support Services </li>
          <li>Engineering and Engineering Technologies</li>
          <li>Biological and Biomedical Sciences</li>
          <li>Mathematics and Statistics</li>
          <li>Physical Sciences and Technologies</li>
        </ul>
      </div>
      <div style="margin-top:5px;font-size:13px;color:#666666;">
        <h3 style="font-weight: bold;">Advanced Manufacturing</h3><br/>
        <ul style="margin:5px 0px 5px 12px;">
          <li>Agriculture, Agricultural Operations, and Related Sciences</li>
          <li>Computer and Informational Sciences and Support Services </li>
          <li>Engineering and Engineering Technologies</li>
          <li>Biological and Biomedical Sciences</li>
          <li>Mathematics and Statistics</li>
          <li>Physical Sciences and Technologies</li>
        </ul>
      </div>
    </div>


  </div>
</div>

