
<div class="wrapperbanr">
  <h2 >Search for Jobs</h2><div class="brder" style="width:100%;"></div>
  <div class="inner_wrapperleft" style="margin-left:0px; width:100%;">
    <div class="top_bnr" style="height:60px !important;padding:10px;" >
      <span style="display:block;float:left; width:330px;margin-right:25px; font-family:'HelveticaBold', Arial; font-size:13px;">					Military Occupation or Job Keyword
        <label>
          <input type="text" name="textfield" id="textfield" />
        </label>
        <br />
      </span>
      <span style="display:block; width:330px;margin-right:25px; float:left;font-family:'HelveticaBold', Arial; font-size:13px;">Location				<br /> <label>
          <input type="text" name="textfield" id="textfield" />
        </label></span> <div style="margin-top:20px; float:left" ><a href="#" class="btn_serchjbs"></a></div>
      <div class="clear"></div>

    </div>
    <div class="clear"></div>

  </div>

  <div class="clear"><br />
    <br />
  </div>

</div>
