<div class="footerwraper">
  <div class="container">
    <ul class="span-5">
      <li><b>STEM Career Resources</b></li>
      <li>&nbsp;</li>
      <li><a href="#">About STEM Careers</a></li>
      <li>Assess Yourself</li>
      <li>Explore Careers</li>
      <li>Connect with Jobs</li>
      <li>Find STEM Resources</li>
    </ul>
    <ul>
      <li><b>STEM Careers</b></li>
      <li>&nbsp;</li>
      <li>Log In</li>
      <li>Sign Up</li>
      <li>Privacy Policy</li>
      <li>Terms of Use</li>
      <li>Support</li>
    </ul>
    <ul>
      <li><b>Follow Us</b></li>
      <li>&nbsp;</li>
      <li>
        <%= image_tag "f.png", :width=>"33", :height=>"33"%>
        <%= image_tag "t.png", :width=>"33", :height=>"33"%>
        <%= image_tag "y.png", :width=>"33", :height=>"33"%>
      </li>
    </ul>
    <div style="float:right">© Copyright 2012 Futures Inc. All rights reserved.</div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
